
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503394945778'); /* IE9*/
  src: url('iconfont.eot?t=1503394945778#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503394945778') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503394945778') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503394945778#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:2.5rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 30%;
}

.icon-25:before { content: "\e676"; }/*¥Û±©”ÍµΩÃÿ¥Û±©”Í*/

.icon-yangsha:before { content: "\e67b"; }/*—Ô…≥*/

.icon-baoxue:before { content: "\e605"; }/*±©—©*/

.icon-dayu:before { content: "\e60a"; }/*¥Û”Í*/

.icon-xiaoyu:before { content: "\e6a1"; }/*–°”Í*/

.icon-zhenyu:before { content: "\e615"; }/*’Û”Í*/

.icon-zhenxue:before { content: "\e630"; }/*’Û—©*/

.icon-baoxue:before { content: "\e616"; }/*±©”Í*/

.icon-leizhenyubanyoubingbao:before { content: "\e620"; }/*¿◊’Û”Í∞È”–±˘±¢*/

.icon-mai:before { content: "\e621"; }/*ˆ≤*/

.icon-21:before { content: "\e6e5"; }/*–°”Í£≠÷–”Í*/

.icon-24:before { content: "\e6e8"; }/*±©”Í£≠¥Û±©*/

.icon-28:before { content: "\e6ea"; }/*¥Û—©£≠±©—©*/

.icon-23:before { content: "\e6eb"; }/*¥Û”Í£≠±©”Í*/

.icon-26:before { content: "\e6f0"; }/*–°—©£≠÷–—©*/

.icon-27:before { content: "\e6f2"; }/*÷–—©£≠¥Û—©*/

.icon-22:before { content: "\e6f3"; }/*÷–”Í£≠¥Û”Í*/

.icon-daxue:before { content: "\e608"; }/*¥Û—©*/

.icon-dongyu:before { content: "\e60b"; }/*∂≥”Í*/

.icon-xiaoxue:before { content: "\e617"; }/*–°—©*/

.icon-yin:before { content: "\e612"; }/*“ı*/

.icon-duoyun:before { content: "\e613"; }/*∂‡‘∆*/

.icon-qing:before { content: "\e631"; }/*«Á*/

.icon-leizhenyu:before { content: "\e685"; }/*¿◊’Û”Í*/

.icon-zhongxue:before { content: "\e68d"; }/*÷–—©*/

.icon-tedabaoyu:before { content: "\e60c"; }/*Ãÿ¥Û±©”Í*/

.icon-shachenbao:before { content: "\e60d"; }/*…≥≥æ±©*/

.icon-dabaoyu:before { content: "\e66f"; }/*¥Û±©”Í*/

.icon-zhongyu:before { content: "\e6b4"; }/*÷–”Í*/

.icon-wu:before { content: "\e606"; }/*ŒÌ*/

.icon-yujiaxue:before { content: "\e61a"; }/*”Íº–—©*/

.icon-fuchen:before { content: "\e50f"; }/*∏°≥¡*/

.icon-qiangshachenbao:before { content: "\e618"; }/*«ø…≥≥æ±©*/

